<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>

</head>

<body>
  <h1>Mapa interativo</h1>
  <div>
    <button mat-button id="buttonStatus" (click) ="statusClick()">On/Off</button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click) ="onLayer1()">Layer 1</button>
      <button mat-menu-item (click) ="onLayer2()">Layer 2</button>
    </mat-menu>
  </div>
  <div id="mapid"></div>-->



</body>


</html>
